body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.navbar {
    color: #d8ccb4;
    padding: 10px 0;
    align-items: center;
    text-align: center;
}

.navbar-brand {
    font-size: 30px;
    margin-bottom: 10px;
    color: #d8ccb4;

}

.navbar-nav {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-left: 20px;
}

.nav-link {
    color: #d8ccb4;
    text-decoration: none;
    font-size: 18px;
}

.homepage {
    width: 1263px;
    padding: 20px;
    background-image: url('./home.jpg');
}

.intro-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
}

.intro-image img {
    max-width: 25%;
    height: auto;
    margin-top: 20px;
    position: relative;
    right: 372px;
}
.intro-section {
      
    padding: 50px 0;
  }
  
  .intro-text {
    text-align: center;
  }
  
  .intro-text h2 {
    color: #d8ccb4;
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .intro-text p {
    color: #d8ccb4;
    font-size: 1.1em;
    line-height: 1.6;
  }
  
  .intro-text p.highlight {
    font-weight: bold;
    color: #ff6600; 
  }
  